<div class="container mt-4">
  <h2>Katalog filmów</h2>
  <mat-form-field appearance="fill" class="mb-3">
    <mat-label>Wybierz kategorię</mat-label>
    <mat-select [(value)]="selectedCategory" (selectionChange)="onCategoryChange()">
      <mat-option value="">Wszystkie kategorie</mat-option>
      <mat-option *ngFor="let category of categories" [value]="category.name">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let movie of movies">
      <mat-card>
        <mat-card-content>
        <mat-card-title>{{ movie.title }} ({{ movie.releaseYear }})</mat-card-title>
          <p>Kategoria: {{ movie.category?.name }}</p>
          <p>Cena: {{ movie.price | currency:'PLN' }}</p>
        </mat-card-content>
        <mat-card-actions>
          <a [routerLink]="['/movies', movie.id]" mat-button color="primary">Szczegóły</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>